<!DOCTYPE html>
<html>
{% load static %}

<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="robots" content="index, follow">
    <meta name="description" content="Boomerang is a responsive website template based on the well known Bootstrap framework. It's very well structured with lots of features and demos ready to be used.">
    <meta name="keywords" content="bootstrap, responsive, template, website, html, theme, ux, ui, web, design, developer, support, business, corporate, real estate, education, medical, school, education, demo, css, framework">
    <meta name="author" content="Webpixels">

    <title>Conecta-TE - Construyamos la innovación</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static  'assets/vendor/bootstrap/css/bootstrap.min.css' %}" type="text/css">

    <!-- Fonts -->
    <link href="https:/fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="{% static  'assets/vendor/swiper/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static  'assets/vendor/hamburgers/hamburgers.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static  'assets/vendor/animate/animate.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static  'assets/vendor/fancybox/css/jquery.fancybox.min.css' %}">

    <!-- Icons -->
    <link rel="stylesheet" href="{% static  'assets/fonts/font-awesome/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static  'assets/fonts/ionicons/css/ionicons.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static  'assets/fonts/line-icons/line-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static  'assets/fonts/line-icons-pro/line-icons-pro.css' %}" type="text/css">

    <!-- Linea Icons -->
    <link rel="stylesheet" href="{% static  'assets/fonts/linea/arrows/linea-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static  'assets/fonts/linea/basic/linea-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static  'assets/fonts/linea/ecommerce/linea-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static  'assets/fonts/linea/software/linea-icons.css' %}" type="text/css">

    <!-- Global style (main) -->
    <link id="stylesheet" type="text/css" href="{% static  'assets/css/boomerang.min.css' %}" rel="stylesheet" media="screen">

    <!-- Custom style - Remove if not necessary -->
    <link type="text/css" href="{% static  'assets/css/custom-style.css' %}" rel="stylesheet">

    <!-- Favicon -->
    <link href="{% static  'assets/images/favicon.png' %}" rel="icon" type="image/png">


</head>

<body>


<!-- MAIN WRAPPER -->
<div class="body-wrap">
    <div id="st-container" class="st-container">

        <nav class="st-menu st-effect-1" id="menu-1">
            <div class="st-profile">
                <div class="st-profile-user-wrapper">
                    <div class="profile-user-image">
                        <img src="{% static  'assets/images/prv/people/person-1.jpg' %}" class="img-circle" />
                    </div>
                    <div class="profile-user-info">
                        <span class="profile-user-name">Bertram Ozzie</span>
                        <span class="profile-user-email">username@example.com</span>
                    </div>
                </div>
            </div>

            <div class="st-menu-list mt-2">
                <ul>
                    <li>
                        <a href="#">
                            <i class="ion-ios-bookmarks-outline"></i> Theme documentation
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ion-ios-cart-outline"></i> Purchase Tribus
                        </a>
                    </li>
                </ul>
            </div>

            <h3 class="st-menu-title">Account</h3>
            <div class="st-menu-list">
                <ul>
                    <li>
                        <a href="#">
                            <i class="ion-ios-person-outline"></i> User profile
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ion-ios-location-outline"></i> My addresses
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ion-card"></i> My cards
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ion-ios-unlocked-outline"></i> Password update
                        </a>
                    </li>
                </ul>
            </div>

            <h3 class="st-menu-title">Support center</h3>
            <div class="st-menu-list">
                <ul>
                    <li>
                        <a href="#">
                            <i class="ion-ios-information-outline"></i> About Tribus
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ion-ios-email-outline"></i> Contact &amp; support
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-camera"></i> Getting started
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner">
                    {% include 'header.html' %}
                    {% block body %}{% endblock %}
                    <!-- SCRIPTS -->
                    <a href="#" class="back-to-top btn-back-to-top2"></a>

                    {% include 'footer.html' %}
                </div>
            </div>
        </div><!-- END: st-pusher -->
    </div><!-- END: st-container -->
</div><!-- END: body-wrap -->

{% block javascripts %}

    <!-- Core -->
    <script src="{% static  'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static  'assets/vendor/popper/popper.min.js' %}"></script>
    <script src="{% static  'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static  'assets/js/slidebar/slidebar.js' %}"></script>
    <script src="{% static  'assets/js/classie.js' %}"></script>

    <!-- Bootstrap Extensions -->
    <script src="{% static  'assets/vendor/bootstrap-notify/bootstrap-growl.min.js' %}"></script>
    <script src="{% static  'assets/vendor/scrollpos-styler/scrollpos-styler.js' %}"></script>

    <!-- Plugins: Sorted A-Z -->
    <script src="{% static  'assets/vendor/adaptive-backgrounds/adaptive-backgrounds.js' %}"></script>
    <script src="{% static  'assets/vendor/countdown/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static  'assets/vendor/dropzone/dropzone.min.js' %}"></script>
    <script src="{% static  'assets/vendor/easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
    <script src="{% static  'assets/vendor/fancybox/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static  'assets/vendor/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static  'assets/vendor/flip/flip.min.js' %}"></script>
    <script src="{% static  'assets/vendor/footer-reveal/footer-reveal.min.js' %}"></script>
    <script src="{% static  'assets/vendor/gradientify/jquery.gradientify.min.js' %}"></script>
    <script src="{% static  'assets/vendor/headroom/headroom.min.js' %}"></script>
    <script src="{% static  'assets/vendor/headroom/jquery.headroom.min.js' %}"></script>
    <script src="{% static  'assets/vendor/input-mask/input-mask.min.js' %}"></script>
    <script src="{% static  'assets/vendor/instafeed/instafeed.js' %}"></script>
    <script src="{% static  'assets/vendor/milestone-counter/jquery.countTo.js' %}"></script>
    <script src="{% static  'assets/vendor/nouislider/js/nouislider.min.js' %}"></script>
    <script src="{% static  'assets/vendor/paraxify/paraxify.min.js' %}"></script>
    <script src="{% static  'assets/vendor/select2/js/select2.min.js' %}"></script>
    <script src="{% static  'assets/vendor/sticky-kit/sticky-kit.min.js' %}"></script>
    <script src="{% static  'assets/vendor/swiper/js/swiper.min.js' %}"></script>
    <script src="{% static  'assets/vendor/textarea-autosize/autosize.min.js' %}"></script>
    <script src="{% static  'assets/vendor/typeahead/typeahead.bundle.min.js' %}"></script>
    <script src="{% static  'assets/vendor/typed/typed.min.js' %}"></script>
    <script src="{% static  'assets/vendor/vide/vide.min.js' %}"></script>
    <script src="{% static  'assets/vendor/viewport-checker/viewportchecker.min.js' %}"></script>
    <script src="{% static  'assets/vendor/wow/wow.min.js' %}"></script>

    <!-- Isotope -->
    <script src="{% static  'assets/vendor/isotope/isotope.min.js' %}"></script>
    <script src="{% static  'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>



    <!-- App JS -->
    <script src="{% static  'assets/js/boomerang.min.js' %}"></script>

{% endblock %}

{% block custom_js %} {% endblock %}


</body>
</html>