{% load static %}

<!-- FOOTER -->
<footer id="footer" class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row cols-xs-space cols-sm-space cols-md-space">
                <div class="col-lg-12">
                    <div class="col">
                        Proyecto Conecta-TE - 
                        Procesos &Aacute;giles de Desarrollo de Software - 
                        2018-01
                        <div class="copyright mt-4">
                            <p>
                                Copyright &copy; 2018 
                                <a href="https://github.com/MISO4101-Grupo3" target="_blank">
                                    <strong>Suicide Squad</strong>
                                </a> - Todos los derechos reservados
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>