{% extends 'base.html' %} {% load static %} {% block body %}
    <section class="slice border-top border-bottom" style="background-image: url('{% static 'assets/images/backgrounds/slider/img-58.jpg' %}'); background-size: cover; background-repeat: no-repeat;background-position: center;">
        <div class="container mt-5">
            <h3 class="heading heading-1 strong-400 mt-0 mb-4 text-normal text-center">
                <span style="text-shadow: -1px 2px 2px #e0e0e0;">Toma el siguiente paso</span>
            </h3>

            <span class="clearfix"></span>

            <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center" style="text-shadow: -1px 2px 2px #000;color:white !important">
                Empieza a rediseñar tus clases, haciendo uso de todas las estrategias pedagogicas que tienes a tu alcance. Busca todas las herramientas, ejemplos de uso y tutoriales que hemos desarrollado y que podrán ser utiles para ti.
            </div>

            <span class="space-xs-lg"></span>

            <div class="feature feature--boxed-border feature--bg-1" style="background-color: rgba(255,255,255,0.8);">
                <form role="form" class="form-default" method="GET">
                    <div class="row cols-md-space cols-sm-space cols-xs-space">
                        <div class="col-lg-9 basic-search-input">
                            <div class="form-group mb-0">
                                <input class="form-control form-control-lg " name="q" type="text" placeholder="¿Qu&eacute; est&aacute;s buscando?">
                            </div>
                        </div>
                        <div class="col-lg-3 advanced-search-input" style="display: none;">
                            <div class="form-group mb-0">
                                <select class="form-control form-control-lg" name="e">
                                    <option value="">Estrategia Pedagógica</option>
                                    {% for estrategia in estrategias %}
                                    <option value="{{ estrategia.id }}">{{ estrategia.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 advanced-search-input" style="display: none;">
                            <div class="form-group mb-0">
                                <select class="form-control form-control-lg" name="d">
                                    <option value="">Disciplina</option>
                                    {% for disciplina in disciplinas %}
                                    <option value="{{ disciplina.id }}">{{ disciplina.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <button type="submit" class="btn btn-styled btn-block btn-base-1">
                                Buscar
                            </button>
                            <div style="position:absolute;">
                                <a href="#" onclick="mostrarBusquedaAvanzada()" class="advanced-search-button">Búsqueda avanzada</a>
                                <a href="#" onclick="mostrarBusquedaBasica()" class="basic-search-button">Búsqueda básica</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="slice sct-color-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="sidebar sidebar--style-4 z-depth-1-top">
                        <div class="sidebar-object">
                            <h5 class="heading heading-sm strong-600 mb-4">Resultado</h5>

                            <div class="filter-checkbox">
                                <div class="checkbox">
                                    <input type="checkbox" id="herramientas--category">
                                    <label class="text-sm" for="herramientas--category">Herramientas</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="ejemplos-de-uso--category">
                                    <label class="text-sm" for="ejemplos-de-uso--category">Ejemplos de uso</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="tutoriales--category">
                                    <label class="text-sm" for="tutoriales--category">Tutoriales</label>
                                </div>
                            </div>
                        </div>

                        <div class="sidebar-object">
                            <h5 class="heading heading-sm strong-600 mb-4">Disciplina</h5>

                            <div class="filter-checkbox">
                                <div class="checkbox">
                                    <input type="checkbox" id="economia--category">
                                    <label class="text-sm" for="economia--category">Economia</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="ingenieria--category">
                                    <label class="text-sm" for="ingenieria--category">Ingeniería</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="derecho--category">
                                    <label class="text-sm" for="derecho--category">Derecho</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="artes-y-humanidades--category">
                                    <label class="text-sm" for="artes-y-humanidades--category">Artes y Humanidades</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="ciencias--category">
                                    <label class="text-sm" for="ciencias--category">Ciencias</label>
                                </div>
                            </div>
                        </div>

                        <div class="sidebar-object">
                            <h5 class="heading heading-sm strong-600 mb-4">Estrategía Pedagogica</h5>

                            <div class="filter-checkbox">
                                <div class="checkbox">
                                    <input type="checkbox" id="estrategia-invertida--category">
                                    <label class="text-sm" for="estrategia-invertida--category">Educación Invertida</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="educacion-blended--category">
                                    <label class="text-sm" for="educacion-blended--category">Educación Blended</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="educacion-semipresencial--category">
                                    <label class="text-sm" for="educacion-semipresencial--category">Educación Semipresencial</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="chkCategory-4b">
                                    <label class="text-sm" for="chkCategory-4b">Educación Virtual</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="row-wrapper">
                        <div class="row cols-xs-space cols-sm-space cols-md-space grid">
                            {% for ejemplo in ejemplos %}
                            <div class="col-lg-4 element-item ejemplos-de-uso--element">
                                <div class="card card-product z-depth-1-top z-depth-2--hover">
                                    <div class="card-body">
                                        <h2 class="heading heading-6 strong-600 mt-2 mb-3">
                                            <a href="#">{{ ejemplo.nombre }}</a>
                                        </h2>

                                        <div class="card-image swiper-js-container">
                                            <div class="">
                                                <div class="swiper-container" data-swiper-items="1" data-swiper-space-between="0">
                                                    <div class="swiper-wrapper">
                                                        <div class="swiper-slide">
                                                            <img src="{% static 'assets/images/sicua.jpg' %}" class="img-fluid img-center img-primary">
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <img src="{% static 'assets/images/sicua.jpg' %}" class="img-fluid img-center img-primary">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-3">
                                            <div class="price-wrapper">
                                            <span class="price price-sm c-gray-dark">
                                                <span class="strong-300">$</span>
                                                <span class="price-value strong-600">Free</span>
                                            </span>
                                                <span class="clearfix"></span>
                                            </div>
                                            <h6 class="heading heading-sm strong-400 c-red">Lic. MIT</h6>
                                            <p class="product-description mt-3 mb-0">
                                                Administra y enriquece tus cursos haciendo uso de todo tipo de funcionalidades academicas.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="product-buttons">
                                            <div class="row align-items-center">
                                                <div class="col-2">
                                                    <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="Visit">
                                                        <i class="ion-android-open"></i>
                                                    </button>
                                                </div>
                                                <div class="col-2">
                                                    <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="Download">
                                                        <i class="ion-ios-cloud-download"></i>
                                                    </button>
                                                </div>
                                                <div class="col-8">
                                                    <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                                        <i class="ion-information-circled"></i> More Info
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% for herramienta in herramientas %}
                            <div class="col-lg-4 element-item herramientas--element">
                                <div class="card card-product z-depth-1-top z-depth-2--hover">
                                    <div class="card-body">
                                        <h2 class="heading heading-6 strong-600 mt-2 mb-3">
                                            <a href="#">{{ herramienta.nombre }}</a>
                                        </h2>

                                        <div class="card-image swiper-js-container">
                                            <div class="">
                                                <div class="swiper-container" data-swiper-items="1" data-swiper-space-between="0">
                                                    <div class="swiper-wrapper">
                                                        <div class="swiper-slide">
                                                            <img src="{% static 'assets/images/sicua.jpg' %}" class="img-fluid img-center img-primary">
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <img src="{% static 'assets/images/sicua.jpg' %}" class="img-fluid img-center img-primary">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-3">
                                            <div class="price-wrapper">
                                            <span class="price price-sm c-gray-dark">
                                                <span class="strong-300">$</span>
                                                <span class="price-value strong-600">Free</span>
                                            </span>
                                                <span class="clearfix"></span>
                                            </div>
                                            <h6 class="heading heading-sm strong-400 c-red">Lic. MIT</h6>
                                            <p class="product-description mt-3 mb-0">
                                                Administra y enriquece tus cursos haciendo uso de todo tipo de funcionalidades academicas.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="product-buttons">
                                            <div class="row align-items-center">
                                                <div class="col-2">
                                                    <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="Visit">
                                                        <i class="ion-android-open"></i>
                                                    </button>
                                                </div>
                                                <div class="col-2">
                                                    <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="Download">
                                                        <i class="ion-ios-cloud-download"></i>
                                                    </button>
                                                </div>
                                                <div class="col-8">
                                                    <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                                        <i class="ion-information-circled"></i> More Info
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="pt-5">
                        <nav aria-label="Product pagination">
                            <ul class="pagination pagination--style-2 justify-content-end">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Anterior</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Siguiente</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %} 
{% block custom_js %} 
<script type="text/javascript">

    var $grid;

    function bajarSiHayResultados() {
        if( window.location.search.indexOf("q=") >= 0 ) {
            $('html, body').animate({
                scrollTop: $(".sct-color-2").offset().top + 50
            }, 1500);
        }
    }

    function mostrarBusquedaBasica() {
        $('.basic-search-input').removeClass('col-lg-3');
        $('.basic-search-input').addClass('col-lg-9');

        $("select[name='d']").val("");
        $("select[name='e']").val("");
        $('.advanced-search-input').hide();

        $('.basic-search-button').hide();
        $('.advanced-search-button').show();
    }
    
    function mostrarBusquedaAvanzada() {
        $('.basic-search-input').removeClass('col-lg-9');
        $('.basic-search-input').addClass('col-lg-3');

        $('.advanced-search-input').show();

        $('.advanced-search-button').hide();
        $('.basic-search-button').show();
    }

    function configurarFiltros() {
        $(".filter-checkbox>.checkbox>input[type=checkbox]").click(function( el ) {
            var filters = [];
            
            $("input:checked").each(function(index, el) {
                var id = $(el).attr('id');
                var index = id.indexOf("--category");
                var filtro = "." + id.substr(0, index) + "--element";
                filters.push(filtro);
            });

            var filtro = filters.join(",");
            console.log(filtro);
            $grid.isotope({ filter: filtro });
        });
    }

$( document ).ready(function() {
    mostrarBusquedaBasica();
    bajarSiHayResultados();
    $grid = $('.grid').isotope({
        itemSelector: '.element-item',
        layoutMode: 'fitRows'
    });
    configurarFiltros();
});
</script>
{% endblock %}